[submodule "vendor/reveal.js"]
	path = vendor/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "vendor/multiplex"]
	path = vendor/multiplex
	url = https://github.com/reveal/multiplex.git
[submodule "vendor/socket.io-client"]
	path = vendor/socket.io-client
	url = https://github.com/socketio/socket.io-client.git
